* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: black;
  font-size: 12px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.padding-10 {
  padding: 10px;
}
.color-grey {
  color: grey;
}
.color-white {
  color: white;
}
.medium-weight {
  font-weight: 600;
}
.bold-weight {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
/* MAIN */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 70px);
  overflow: hidden;
}

/* MAIN NAV */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 100%;
  background-color: black;
}

.img-logo {
  height: 70px;
  padding: 15px 0;
}
.border-green-left {
  padding: 10px 6px;
  border-left: 4px solid lightgreen;
}
.main-nav-header ul li {
  line-height: 24px;
  vertical-align: middle;
  padding-top: 5px;
}
.main-nav-header ul li img {
  vertical-align: middle;
  height: 24px;
  padding-right: 5px;
  filter: brightness(50%);
}
.main-nav-header ul li a:hover,
.main-nav-header ul li a:active,
.main-nav-header ul li a:focus {
  filter: brightness(200%)
}
.playlist-title {
  line-height: 40px;
}
.playlist-title h2 {
  font-size: 1.1em;
}
.playlist-title a {
  line-height: 35px;
  font-size: 1.2em;
}
.playlist-title a span {
  vertical-align: middle;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: grey;
  text-align: center;
  color: black;
  font-size: 1.2em;
  margin-right: 5px;
}
.playlist-title a:hover,
.playlist-title a:active,
.playlist-title a:focus {
  filter: brightness(150%)
}
.main-nav-main {
  min-height: 90px;
}
.main-nav-main .playlist{
  min-height: 90px;
}
.playlist li {
  line-height: 25px;
}
.playlist li:hover,
.playlist li:active,
.playlist li:focus {
  filter: brightness(150%)
}

.main-nav-main {
  overflow-y: auto;
  flex-grow: 2;
}
.main-nav-footer .install-app {
  border-bottom: 1px solid grey;
  margin: 0px 10px;
}
.main-nav-footer .install-app a {
  line-height: 30px;
}
.main-nav-footer .install-app a:hover,
.main-nav-footer .install-app a:active,
.main-nav-footer .install-app a:focus {
  filter: brightness(150%)
}
.main-nav-footer .profile-pic span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background-color: lightgrey;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.main-nav-footer .profile-pic a span img {
  height: 100%;
  width: 100%;
}


/* main content */
.main-content {
  width: calc(100% - 240px);
  height: 100%;
  background: rgb(9,10,15);
  background: linear-gradient(199deg, rgba(9,10,15,1) 3%, rgba(50,54,83,1) 95%);
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 240px);
  height: 70px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 20px;
  border: 2px white solid;
  border-radius: 20px;
  padding: 8px 24px;
  font-size: 1.1em;
  margin-right: 22px;
}
.btn:hover,
.btn:active,
.btn:focus {
  transform: scale(1.1);
}
.menu-genre {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-genre li{
  padding: 15px 20px;
}
.menu-genre a:hover {
  color: white;
}
.border-green-bottom {
  position: relative;
}
.border-green-bottom:after {
  content : "";
  position: absolute;
  left: calc(50% - (25px / 2));
  top: 15px;
  width: 22px;
  border-bottom: 2px lightgreen solid;
}
.menu-genre li {
  border-bottom:
}
.main-content-plays {
  padding: 10px;
}
.main-content-plays-playlist {
  display: flex;
}
.single-artist {
  height: 150px;
  width: 150px;
  background-color: black;
  padding: 10px;
}


/* footer */
.footer {
  width: 100%;
  height: 70px;
  background-color: pink;
}
